<?xml version="1.0" encoding="UTF-8" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="has_axis_camera" default="0" />
    <xacro:arg name="axis_x_offset" default="0.059" />
    <xacro:arg name="axis_y_offset" default="0.08" />

    <!-- Parameters for the Xtion-Thermo cam sensor mounted on a ptu. -->
    <xacro:arg name="has_ptuxthermo" default="0" />
    <xacro:arg name="ptuxthermo_x_offset" default="0.449" />
    <xacro:arg name="ptuxthermo_y_offset" default="0.1765" />

    <xacro:arg name="has_velodyne" default="0" />
    <xacro:arg name="velodyne_x_offset" default="0.41" />
    <xacro:arg name="velodyne_yaw" default="-1.84" />

    <!-- Include Axis camera if enabled -->
    <xacro:if value="$(arg has_axis_camera)">
        <xacro:include filename="$(find axis_camera_tradr)/urdf/axis_camera_with_holder.xacro" />
        <xacro:fixed_joint name="rear_right_box_to_axis_holder" parent="rear_right_box" child="axis_tradr_holder"
                           xyz="$(arg axis_x_offset) $(arg axis_y_offset) 0" rpy="0 0 -1.5708" />
    </xacro:if>

    <!-- Include PTU Xtion-Thermo Sensor if enabled -->
    <xacro:if value="$(arg has_ptuxthermo)">
        <xacro:include filename="$(find flir_ptu)/urdf/ptu_xthermo.urdf.xacro" />
        <xacro:ptu_xthermo/>
        <xacro:fixed_joint name="rear_right_box_to_ptu_holder_base" parent="rear_right_box" child="ptu_holder_base_link"
                           xyz="$(arg ptuxthermo_x_offset) $(arg ptuxthermo_y_offset) 0" rpy="0 0 0" />
    </xacro:if>

    <!-- Velodyne -->
    <xacro:if value="$(arg has_velodyne)">
        <joint name="rear_right_box_to_velodyne_base" type="fixed">
            <parent link="rear_right_box" />
            <child link="velodyne_base_link" />
            <origin xyz="$(arg velodyne_x_offset) 0.185 0" rpy="0 0 0" />
        </joint>
        <link name="velodyne_base_link">
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0.1075" />
                <geometry>
                    <box size="0.04 0.04 0.215" />
                </geometry>
            </collision>
        </link>
        <xacro:fixed_joint name="velodyne_base_to_velodyne" parent="velodyne_base_link" child="velodyne"
                           xyz="0 0 0.219" rpy="0 0 $(arg velodyne_yaw)" />
        <link name="velodyne">
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
                    <cylinder length="0.07" radius="0.05" />
                </geometry>
            </collision>
        </link>
    </xacro:if>
</robot>