<launch>
    <arg name="gui" default="true" />
    <arg name="simulate_robot" default="false" />
    <arg name="robot" default="" />

    <include file="$(dirname)/load_robot_model.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>

    <group if="$(arg simulate_robot)">
        <param name="/use_sim_time" value="false"/>

        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
            <remap from="robot_description" to="nifti_robot_description"/>
            <remap from="joint_states" to="filtered_joint_states" />
        </node>

        <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg gui)">
            <remap from="robot_description" to="nifti_robot_description"/>
            <remap from="joint_states" to="filtered_joint_states" />
        </node>

        <include file="$(dirname)/state_publisher.launch" />
    </group>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find nifti_robot_description)/rviz/urdf.rviz" if="$(arg gui)" />
</launch>
